*{
    box-sizing: border-box;
}

.container{
    border: 4px solid lightgray;
    padding: 24px 24px 0px 24px;
}

.row{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.box{
    border: 4px solid lightgray;
    margin-bottom: 24px;
}

.box-large{
    width: 45%;
}
.box-wrapper{
    width: 45%;
}

.box-small{
    height: 50px;
}

.box-tiny{
    width: 30%;
    height: 50px;
}
.three-box{
    display: flex;
    justify-content: space-between;
}

